{% extends 'homebase.html' %}
{% block title %} About{% endblock %}
{% load static %}
{% block breadcurm%} About {% endblock %}


{% block content%}
<!-- About Us -->
<section class="about-us section">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-12">
				<div class="about-content">
					<h3>Welcome To <span>Eshop</span></h3>
					<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
						est laborum. sed ut perspiciatis unde sunt in culpa qui officia deserunt mollit anim id est
						laborum. sed ut perspiciatis unde omnis iste natus error sit voluptatem Excepteu </p>
					<p>sunt in culpa qui officia deserunt mollit anim id est laborum. sed ut perspiciatis Excepteur sint
						occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						sed ut perspi deserunt mollit anim id est laborum. sed ut perspi.</p>
						<p>sunt in culpa qui officia deserunt mollit anim id est laborum. sed ut perspiciatis Excepteur sint
							occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							sed ut perspi deserunt mollit anim id est laborum. sed ut perspi.</p>
							<p>sunt in culpa qui officia deserunt mollit anim id est laborum. sed ut perspiciatis Excepteur sint
								occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								sed ut perspi deserunt mollit anim id est laborum. sed ut perspi.</p>
					<div class="button">
						<a href="/faqs" class="btn">FAQS</a>
						<a href="/contact" class="btn primary">Contact Us</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-12">
				<div class="about-img overlay">
					<div class="button">
						<a href="https://www.youtube.com/watch?v=nh2aYrGMrIE" class="video video-popup mfp-iframe"><i
								class="fa fa-play"></i></a>
					</div>
					<img src="{%static '/images/about/about.jpg' %}" alt="#">
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End About Us -->

<!-- Start Team -->
<section id="team" class="team section">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h2>Our Expert Team</h2>
					<p>Business consulting excepteur sint occaecat cupidatat consulting non proident, sunt in culpa qui
						officia deserunt laborum market. </p>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- Single Team -->
			<div class="col-lg-3 col-md-6 col-12">
				<div class="single-team">
					<!-- Image -->
					<div class="image">
						<img src="{%static '/images/about/team1.jpg' %}" alt="#">
					</div>
					<!-- End Image -->
					<div class="info-head">
						<!-- Info Box -->
						<div class="info-box">
							<h4 class="name"><a href="#">Dahlia Moore</a></h4>
							<span class="designation">Senior Manager</span>
						</div>
						<!-- End Info Box -->
						<!-- Social -->
						<div class="social-links">
							<ul class="social">
								<li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-behance"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
						<!-- End Social -->
					</div>
				</div>
			</div>
			<!-- End Single Team -->
			<div class="col-lg-3 col-md-6 col-12">
				<div class="single-team">
					<!-- Image -->
					<div class="image">
						<img src="{%static '/images/about/team2.jpg' %}" alt="#">
					</div>
					<!-- End Image -->
					<div class="info-head">
						<!-- Info Box -->
						<div class="info-box">
							<h4 class="name"><a href="#">Jhone digo</a></h4>
							<span class="designation">Markeitng</span>
						</div>
						<!-- End Info Box -->
						<!-- Social -->
						<div class="social-links">
							<ul class="social">
								<li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-behance"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
						<!-- End Social -->
					</div>
				</div>
			</div>
			<!-- End Single Team -->
			<div class="col-lg-3 col-md-6 col-12">
				<div class="single-team">
					<!-- Image -->
					<div class="image">
						<img src="{%static '/images/about/team3.jpg' %}" alt="#">
					</div>
					<!-- End Image -->
					<div class="info-head">
						<!-- Info Box -->
						<div class="info-box">
							<h4 class="name"><a href="#">Zara tingo</a></h4>
							<span class="designation">Web Developer</span>
						</div>
						<!-- End Info Box -->
						<!-- Social -->
						<div class="social-links">
							<ul class="social">
								<li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-behance"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
						<!-- End Social -->
					</div>
				</div>
			</div>
			<!-- End Single Team -->
			<div class="col-lg-3 col-md-6 col-12">
				<div class="single-team">
					<!-- Image -->
					<div class="image">
						<img src="{%static '/images/about/team4.jpg' %}" alt="#">
					</div>
					<!-- End Image -->
					<div class="info-head">
						<!-- Info Box -->
						<div class="info-box">
							<h4 class="name"><a href="#">David Zone</a></h4>
							<span class="designation">SEO Expert</span>
						</div>
						<!-- End Info Box -->
						<!-- Social -->
						<div class="social-links">
							<ul class="social">
								<li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-behance"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
						<!-- End Social -->
					</div>
				</div>
			</div>
			<!-- End Single Team -->
		</div>
	</div>
</section>
<!--/ End Team Area -->

<!-- Start Shop Services Area -->
<section class="shop-services section">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-12">
				<!-- Start Single Service -->
				<div class="single-service">
					<i class="ti-rocket"></i>
					<h4>Free shiping</h4>
					<p>Orders over $100</p>
				</div>
				<!-- End Single Service -->
			</div>
			<div class="col-lg-3 col-md-6 col-12">
				<!-- Start Single Service -->
				<div class="single-service">
					<i class="ti-reload"></i>
					<h4>Free Return</h4>
					<p>Within 30 days returns</p>
				</div>
				<!-- End Single Service -->
			</div>
			<div class="col-lg-3 col-md-6 col-12">
				<!-- Start Single Service -->
				<div class="single-service">
					<i class="ti-lock"></i>
					<h4>Sucure Payment</h4>
					<p>100% secure payment</p>
				</div>
				<!-- End Single Service -->
			</div>
			<div class="col-lg-3 col-md-6 col-12">
				<!-- Start Single Service -->
				<div class="single-service">
					<i class="ti-tag"></i>
					<h4>Best Peice</h4>
					<p>Guaranteed price</p>
				</div>
				<!-- End Single Service -->
			</div>
		</div>
	</div>
</section>
<!-- End Shop Services Area -->


{% endblock %}