{% extends 'homebase.html' %}
{%load mptt_tags%}
{% block title%}{{product.title}}{% endblock%}
{% block keywords%} {{product.description}} {% endblock%}
{% block description%}{{ product.keywords}} {% endblock%}
{% load static %}
{% block breadcurm%} <a href="/category/">{{product.category.title}}<i class="ti-arrow-right"></i></a><a href="blog-single.html">{{product.title}}</a> {% endblock %}

<style>
    .small-img-row{
      display: flex;
      justify-content: space-between;
    }
    .small-img-col{
      flex-basis: 24%;
      margin-top: 10px;
      cursor: pointer;
    }
    </style>
{% block content%}

<!-- Shop Single -->


<section class="shop single section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-lg-6 col-12">
                     
                            <img src="{{ product.image.url }}" width="100%" id="ProductImg">
                    
                            <div class="small-img-row" style=" display: flex;
                            justify-content: space-between;">
                                {% for rs in images %}
                                <div class="small-img-col">
                                    <img src="{{ rs.image.url }}" width="100%" class="small-img">
                                </div>
                                {% endfor %}
                            </div>
                        
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="product-des">
                            <!-- Description -->
                            <div class="short">
                                <h4>{{product.title}}</h4>
                                <div class="rating-main">
                                    <ul class="rating">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star-half-o"></i></li>
                                        <li class="dark"><i class="fa fa-star-o"></i></li>
                                    </ul>
                                    <a href="#" class="total-review">(102) Review</a>
                                </div>
                                <p class="price"><span class="discount">{{product.price}}$</span> </p>
                                <p class="description">{{product.description}}</p>
                            </div>
                            <!--/ End Description -->
                            <!-- Color -->
                            <div class="color">
                                <h4>Available Options <span>Color</span></h4>
                                <ul>
                                    <li><a href="#" class="one"><i class="ti-check"></i></a></li>
                                    <li><a href="#" class="two"><i class="ti-check"></i></a></li>
                                    <li><a href="#" class="three"><i class="ti-check"></i></a></li>
                                    <li><a href="#" class="four"><i class="ti-check"></i></a></li>
                                </ul>
                            </div>
                            <!--/ End Color -->
                            <!-- Size -->
                            <div class="size">
                                <h4>Size</h4>
                                <ul>
                                    <li><a href="#" class="one">S</a></li>
                                    <li><a href="#" class="two">M</a></li>
                                    <li><a href="#" class="three">L</a></li>
                                    <li><a href="#" class="four">XL</a></li>
                                    <li><a href="#" class="four">XXL</a></li>
                                </ul>
                            </div>
                            <!--/ End Size -->
                            <!-- Product Buy -->
                            <div class="product-buy">
                                <div class="quantity">
                                    <h6>Quantity :</h6>
                                    <!-- Input Order -->
                                    <div class="input-group">
                                        <form action="/orders/addtoshopcart/{{ product.id }}" method="POST">
                                            {% csrf_token %} 
                                            <input type="number" name="quantity" id="" min="1" max="{{product.quantity}}">
                                            <button type="submit">Add to Cart </button>
                                       </form>
                                    </div>
                                    <!--/ End Input Order -->
                                </div>
                                <div class="add-to-cart">
                                    <a href="#" class="btn">Add to cart</a>
                                    <a href="#" class="btn min"><i class="ti-heart"></i></a>
                                    <a href="#" class="btn min"><i class="fa fa-compress"></i></a>
                                </div>
                                <p class="cat">{{product.category.title}}:<a href="#">Clothing</a></p>
                                <p class="availability">Availability : {{product.quantity}} Products In Stock</p>
                            </div>
                            <!--/ End Product Buy -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="product-info">
                            <div class="nav-main">
                                <!-- Tab Nav -->
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item"><a class="nav-link active" data-toggle="tab"
                                            href="#description" role="tab">Description</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#reviews"
                                            role="tab">Reviews</a></li>
                                </ul>
                                <!--/ End Tab Nav -->
                            </div>
                            <div class="tab-content" id="myTabContent">
                                <!-- Description Tab -->
                                <div class="tab-pane fade show active" id="description" role="tabpanel">
                                    <div class="tab-single">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="single-des">
                                                    <p>{{ product.long_description|safe }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/ End Description Tab -->
                                <!-- Reviews Tab -->
                                <div class="tab-pane fade" id="reviews" role="tabpanel">
                                    <div class="tab-single review-panel">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="ratting-main">
                                                    <div class="avg-ratting">
                                                        <h4>4.5 <span>(Overall)</span></h4>
                                                
                                                    </div>
                                                    <!-- Single Rating -->
                                                  
                                                    <div class="single-rating">
                                                        {%for rs in comments%}
                                                        <div class="rating-author">
                                                            <img src="images/comments1.jpg" alt="#">
                                                        </div>
                                                        <div class="rating-des">
                                                            <h6>{{rs.user.first_name}}</h6>
                                                            
                                                            <div class="ratings">
                                                                <div class="rate-count" style="color: red;">Rating = <strong>{{rs.rate}}</strong>/<span>5</span></div>
                                                            </div>
                                                            <div class="rate-count"><span>{{rs.create_at}}</span></div>
                                                            <h5>{{rs.subject}}</h5>
                                                            <p>{{rs.comment}}</p>
                                                        </div>
                                                        {%endfor%}
                                                    </div>
                                                    
                                                </div>
                                               
                                                <!-- Review -->
                                                <div class="comment-review">
                                                    <div class="add-review">
                                                        <h5>Add A Review</h5>
                                                        <p>Your email address will not be published. Required fields are
                                                            marked</p>
                                                    </div>
                                                    <h4>Your Rating</h4>
                                                    <div class="review-inner">
                                                        <div class="ratings">
                                                            <ul class="rating">
                                                                <li><i class="fa fa-star"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/ End Review -->
                                                <!-- Form -->
                                                
                                                <form class="form" action="/product/addcomment/{{product.id}}" method="post">
                                                    {%csrf_token %}
                                                    <div class="row">
                                                        <div class="col-lg-6 col-12">
                                                            <div class="form-group">
                                                                <label>Your Name<span>*</span></label>
                                                                <input type="text" name="name" required="required"
                                                                    placeholder="">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-12">
                                                            <div class="form-group">
                                                                <label>Your Email<span>*</span></label>
                                                                <input type="email" name="email" required="required"
                                                                    placeholder="">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-12">
                                                            <div class="form-group">
                                                                <label>Subject<span>*</span></label>
                                                                <input type="text" name="subject" required="required"
                                                                    placeholder="">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-12">
                                                            <div class="form-group stars">
                                                                <label >Rating</label>
                                                                <br>
                                                                <input type="number" name="rate" required="required"
                                                                placeholder="Rate the product out of 5" min="0" max="5" >
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12 col-12">
                                                            <div class="form-group">
                                                                <label>Write a review<span>*</span></label>
                                                                <textarea name="comment" rows="6"
                                                                    placeholder=""></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12 col-12">

                                                            <div class="form-group button5">
                                                                {%if user.id is not None %}
                                                                <button type="submit" class="btn">Submit</button>
                                                                {%else%}
                                                                You must be logged in to post a review
                                                                {%endif%}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                               
                                                <!--/ End Form -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/ End Reviews Tab -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Shop Single -->

<!-- Start Most Popular -->
<div class="product-area most-popular section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Hot Item</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel popular-slider">
                    <!-- Start Single Product -->
                    {% for rs in products_slider%}
                    <div class="single-product">
                        <div class="product-img">
                            <a href="/product/{{ rs.id }}/{{ rs.slug }}">
                                <img class="default-img slider_images" src="{{rs.image.url}}" alt="#">
                                <img class="hover-img slider_images" src="{{rs.image.url}}" alt="#">
                                <span class="out-of-stock">Hot</span>
                            </a>
                            <div class="button-head">
                                <div class="product-action">
                                    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i
                                            class=" ti-eye"></i><span>Quick Shop</span></a>
                                    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to
                                            Wishlist</span></a>
                                    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to
                                            Compare</span></a>
                                </div>
                                <div class="product-action-2">
                                    <a title="Add to cart" href="#">Add to cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3><a href="product-details.html">{{rs.title}}</a></h3>
                            <div class="product-price">
                                <span class="old">{{rs.price}}</span>
                                <span>{{rs.price}}</span>
                                <a href="/product/{{product.id}}/{{product.slug}}">Buy Now </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Most Popular Area -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="ti-close"
                        aria-hidden="true"></span></button>
            </div>
            <div class="modal-body">
                <div class="row no-gutters">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <!-- Product Slider -->
                        <div class="product-gallery">
                            <div class="quickview-slider-active">
                                {% for rs in images %} 
                                <div class="single-slider">
                                    <img src="{{rs.image.url}}" alt="#">
                                </div>
                                {%endfor%}
                            </div>
                        </div>
                        <!-- End Product slider -->
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="quickview-content">
                            <h2>Flared Shift Dress</h2>
                            <div class="quickview-ratting-review">
                                <div class="quickview-ratting-wrap">
                                    <div class="quickview-ratting">
                                        <i class="yellow fa fa-star"></i>
                                        <i class="yellow fa fa-star"></i>
                                        <i class="yellow fa fa-star"></i>
                                        <i class="yellow fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <a href="#"> (1 customer review)</a>
                                </div>
                                <div class="quickview-stock">
                                    <span><i class="fa fa-check-circle-o"></i> in stock</span>
                                </div>
                            </div>
                            <h3>$29.00</h3>
                            <div class="quickview-peragraph">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia iste laborum ad
                                    impedit pariatur esse optio tempora sint ullam autem deleniti nam in quos qui nemo
                                    ipsum numquam.</p>
                            </div>
                            <div class="size">
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <h5 class="title">Size</h5>
                                        <select>
                                            <option selected="selected">s</option>
                                            <option>m</option>
                                            <option>l</option>
                                            <option>xl</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <h5 class="title">Color</h5>
                                        <select>
                                            <option selected="selected">orange</option>
                                            <option>purple</option>
                                            <option>black</option>
                                            <option>pink</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="quantity">
                                <!-- Input Order -->
                                <div class="input-group">
                                    <div class="button minus">
                                        <button type="button" class="btn btn-primary btn-number" disabled="disabled"
                                            data-type="minus" data-field="quant[1]">
                                            <i class="ti-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" name="quant[1]" class="input-number" data-min="1" data-max="1000"
                                        value="1">
                                    <div class="button plus">
                                        <button type="button" class="btn btn-primary btn-number" data-type="plus"
                                            data-field="quant[1]">
                                            <i class="ti-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <!--/ End Input Order -->
                            </div>
                            <div class="add-to-cart">
                                <a href="#" class="btn">Add to cart</a>
                                <a href="#" class="btn min"><i class="ti-heart"></i></a>
                                <a href="#" class="btn min"><i class="fa fa-compress"></i></a>
                            </div>
                            <div class="default-social">
                                <h4 class="share-now">Share:</h4>
                                <ul>
                                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="youtube" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                    <li><a class="dribbble" href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->



{% endblock %}
<script>
var ProductImg=document.getElementById("ProductImg");
var SmallImg=document.getElementsByClassName("small-img");
SmallImg[0].onclick=function()
{
    ProductImg.scr=SmallImg[0].src;
}
SmallImg[1].onclick=function()
{
    ProductImg.scr=SmallImg[1].src;
}
SmallImg[2].onclick=function()
{
    ProductImg.scr=SmallImg[2].src;
}
SmallImg[3].onclick=function()
{
    ProductImg.scr=SmallImg[3].src;
}
</script>