<div class="small-container single-product">
    <div class="row">
        <div class="col-2">
            <img src="http://techmytip.com/demos/smoothproducts/images/1.jpg" width="100%">
    
            <div class="small-img-row">
                <div class="small-img-col">
                    <img src="http://techmytip.com/demos/smoothproducts/images/1.jpg" width="100%">
                </div>
                <div class="small-img-col">
                    <img src="http://techmytip.com/demos/smoothproducts/images/1.jpg" width="100%">
                </div>
                <div class="small-img-col">
                    <img src="http://techmytip.com/demos/smoothproducts/images/1.jpg" width="100%">
                </div>
                <div class="small-img-col">
                    <img src="http://techmytip.com/demos/smoothproducts/images/1.jpg" width="100%">
                </div>
            </div>
        </div>
    </div>
    </div>