{% extends 'homebase.html' %}
{% block title%}Wish list{% endblock%}
{% block keywords%} Wish list Page {% endblock%}
{% block description%}Wish list Page {% endblock%}
{% load static %}
{% block breadcurm%} Wishlist {% endblock %}
    
{% block content%} 

<!-- Shopping Cart -->
<div class="shopping-cart section" >
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Shopping Summery -->
                <table class="table shopping-summery">
                    <thead>
                        <tr class="main-hading">
                            <th>PRODUCT</th>
                            <th>NAME</th>
                            <th class="text-center">UNIT PRICE</th>
                            <th class="text-center">QUANTITY</th>
                            <th class="text-center"><i class="ti-trash remove-icon"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rs in wishlist %}
                        <tr>
                            <td class="image" data-title="No"><img src="{{rs.product.image.url}}"style="width: 300px;
                                height: 130px;" alt="#" ></td>
                            <td class="product-des" data-title="Description">
                                <p class="product-name"><a href="#">{{rs.product.title}}</a></p>
                                <p class="product-des">{{rs.product.description}}</p>
                            </td>
                            <td class="price" data-title="Price"><span>{{rs.product.price}} </span></td>
                            <td class="qty" data-title="Qty"><!-- Input Order -->
                                <p class="product-des">{{rs.quantity}}</p>
                                <!--/ End Input Order -->
                            </td>
                            
                            <td class="action" data-title="Remove"><a href="/orders/deletefromwishlist/{{ rs.id }}" onclick="return confirm('Delete ! Are you sure?')" class="main-btn icon-btn">
                                <i class="ti-trash remove-icon"></i></a></td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
                <!--/ End Shopping Summery -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Total Amount -->
                <div class="total-amount">
                    <div class="row">
                        <div class="col-lg-8 col-md-5 col-12">
                            <div class="left">
                                <div class="coupon">
                                    <h5>OurBuddy Shop</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-7 col-12">
                            <div class="right">
                                <div class="button5">
                                    <a href="/shop" class="btn">Continue shopping</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ End Total Amount -->
            </div>
        </div>
    </div>
</div>
<!--/ End Shopping Cart -->


	
	


{% endblock %}